*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Layout-header{
    background-color: black;
    padding: 20px;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 100;
}
ul{
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    gap: 5vh;
    justify-content: center;
    font-size: 2rem;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    background-color: black
}
a:hover{
    transition: 0.5s ease;
    border: 5px solid green;
}
.Layout-svg{
    width: 50px;
    height: 50px;
    display: none;
    margin: 10px
}

.Layout-nav.isActive{
    display: none;
}

@media (max-width: 600px){
    .Layout-svg{
        display: block;
    }
    .Layout-nav{
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
        transition: all 2s ease;
    }
    .Layout-nav.isActive{
        transition: all 2s ease;
    }
    ul{
        flex-direction: column;
        justify-content: center;
        font-size: 2rem;
        text-decoration: none;
    }
}